.product-card {
    display: flex;
    flex-direction: column;
    text-decoration: none !important;
    color: #000;
    transition: transform 1.2s cubic-bezier(0.16, 1, 0.3, 1);
}

.product-card:active {
    transform: scale(0.96);
    transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

.product-image-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: #f7f7f7;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
    backface-visibility: hidden;
    transform: translateZ(0);
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;

    will-change: opacity, transform;
}

.primary-img {
    opacity: 1;
    z-index: 2;
}

.secondary-img {
    opacity: 0;
    z-index: 1;
    transform: scale(1.08);
}

.product-card:hover .primary-img {
    opacity: 0;
    transform: scale(1.12);
}

.product-card:hover .secondary-img {
    opacity: 1;
    transform: scale(1);
}
.product-name {
    font-family: -apple-system, sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    margin: 0;
    transition: opacity 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.product-card:hover .product-name {
    opacity: 0.4;
}